name: CI
on:
  push:
    branches: [ main, develop ]
    pull_request:
      branches: [ main ]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Test
        run: mvn -B clean test

      - name: Login to GHCR and Push Docker Image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make ci-docker
#      - name: Log in to GitHub Container Registry
#        uses: docker/login-action@v3
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: Build and push Docker image
#        uses: docker/build-push-action@v5
#        with:
#            context: .
#            push: true
#            tags: ghcr.io/${{ github.repository_owner }}/user-manager:latest
            # Optional: tag with commit SHA too
            # tags: |
            #   ghcr.io/${{ github.repository_owner }}/user-manager:latest
            #   ghcr.io/${{ github.repository_owner }}/user-manager:${{ github.sha }}